@using Microsoft.AspNetCore.Http;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <style>
        div {
            margin: 10px;
            border: 1px solid black;
            font-size: 20px;
            height: 80px;
        }

        #header {
            background-color: #ddd;
            padding: 10px;
            border-radius: 5px;
            border-width: 3px;
        }

        #sidebar {
            float: left;
            width: 130px;
            height: 290px;
            border-width: 2px;
            text-decoration: none;
            word-wrap: break-word;
            top: 82px;
            top: 82px; /* Расстояние от верхнего края */
            bottom: 0; /* Расстояние снизу  */
        }
         #size{
            box-sizing: border-box;
         }

        #main {
            height: 300px;
            margin-left: 150px;
            border-style: dotted;
            border-width: 2px;
            text-align: center;
        }

        #footer {
            background-color: #ccc;
            border-radius: 10px;
            border-width: 4px;
            height: 40px;
            text-align: center;
            background-color: #808080;
            color: white;
        }

        #mainmenu {
            overflow: hidden;
            height: 40px;
            margin: 10px 0
        }

            #mainmenu ul {
                list-style: none;
                margin: 0;
                padding: 0;
                position: relative;
                left: 50%;
                float: left;
                font: 14px Arial, Helvetica, sans-serif;
                height: 40px
            }

                #mainmenu ul li {
                    position: relative;
                    left: -50%;
                    float: left;
                    margin: 0 10px;
                    height: 40px
                }

                    #mainmenu ul li a {
                        color: #fff;
                        display: block;
                        text-decoration: none;
                        line-height: 40px;
                        border-style: none;
                    }

                        #mainmenu ul li a:hover {
                            background-color: #666;
                        }

                        .comm-body.clearfix {
    word-wrap: break-word;
}
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default">

        <form asp-action="Home" method="post">
            <ul class="navbar navbar-nav">
                <p>
                    <h3>@GetName()</h3>
                    <label for="text" class="text-left"><mark>Зарегестрироваться </mark> </label>
                    <input type="text" class="btn btn-primary" placeholder="Введите имя" name="valueName" />
                    <button type="submit" class="btn btn-success">Отправить</button>
                </p>

            </ul>
        </form>
    </nav>
       
     <pre size="5" class="bg-warning">   Shop</pre>
     <div id="header">
        <div id="mainmenu">
            <ul>
                <li><a href="../../Home/Home">Home</a></li>
                <li><a href="../../Home/Contacts">Contacts</a></li>
                <li><a href="../../Home/About">About</a></li>
            </ul>
        </div>
    </div>
     <div id="sidebar">
         <ul>
             <li><a href="../../Home/GetCatalogWithProduct?catalog=Mobile phone"><font size="3" color="green" face="Arial">Mobile phone</font> </a></li>
             <li><a href="../../Home/GetCatalogWithProduct?catalog=Notebook"><font size="3" color="green" face="Arial">Notebook</font> </a></li>
             <li><a href="../../Home/GetCatalogWithProduct?catalog=Camera"><font size="3" color="green" face="Arial">Camera</font></a></li>
             <li><a href="../../Home/GetCatalogWithProduct?catalog=Headphones"><font size="3" color="green" face="Arial">Headphones</font></a></li>
         </ul>

     </div>
    <div id="main">Page content</div>
    <div id="footer">Copyright 2020</div>
</body>
</html>

@functions
{
    public string GetName()
    {
        if (Context.Request.Cookies.ContainsKey("userName"))
        {

            string name = Context.Request.Cookies["userName"];
            return $"Здравствуйте, {name}";

        }

        // при помощи Session
        //if (Context.Request.Cookies.ContainsKey("userName"))
        //{
        //    string name = Context.Session.GetString("userName");
        //    return  $"Здравствуйте, {name}";

        //}

        return "Здравствуйте, user";

    }
}

